<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304599420586-o2rf2rq0jbcucrptjdan8dkv33deoj8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304599420586-o2rf2rq0jbcucrptjdan8dkv33deoj8f</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ_HGyyNubqNRQcXEBk5IfV0HsCzgb--8</string>
	<key>GCM_SENDER_ID</key>
	<string>304599420586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finnyjakey.hansungunivnotinoti</string>
	<key>PROJECT_ID</key>
	<string>hansung-univ-noti-noti</string>
	<key>STORAGE_BUCKET</key>
	<string>hansung-univ-noti-noti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:304599420586:ios:136c4a19a16bc09d228ad3</string>
	<key>DATABASE_URL</key>
	<string>https://hansung-univ-noti-noti-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
